@charset "utf-8";
/**/
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
.left{ float: left;}
.right{ float: right;}
.h30{ height:30px;}
.mt7{ margin-top:7px;}
.mt10{ margin-top:10px;} .mt20{ margin-top:20px;} .mt30{ margin-top:30px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr30{ margin-right:30px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.w55{width:55px;}
.w498{width:498px;}
.w940{width:940px;}
.ddf-text_overflow {
	display:block;/*内联对象需加*/
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
body {
	margin: 0 auto;
	color: #333;
	background-attachment: fixed;
	background-image: url(about:blank);
	background: url(../images/bodybg.jpg) repeat;
}

/* 通用布局 */
.ddf-wrapper{position:relative; /*z-index:1; 此处样式会导致前台首页盗版提示*/ width:960px;height:auto;margin:0px auto;}
/*顶部用户名信息*/
.ddf-status{position:relative; z-index:10; float:left; width:100%; height:20px; line-height:20px; background:#4d4d4d; color:#e6e6e6;}
.ddf-status_right{ float:right;}
.ddf-status_user{ float:right; }
.ddf-status a{color:#e6e6e6; padding:0 3px;}
.ddf-status a:hover{text-decoration:underline;}
a.ddf-status_msg{}
a.ddf-status_notice{}
a.ddf-status_logout{padding:0 20px 0 6px;}
.ddf-status_languageChoose{ position:relative; float:right;min-width:80px; height:20px; cursor:pointer; margin-top: 0px;}
.ddf-status_languageCurrent{ float:left;display:inline; padding:0 0 0 5px;}
.ddf-status_icon_down{ float:left;display:inline; width:0; height:0; line-height:0;  margin:12px 8px 0 ; border-width:5px; border-style:solid; border-color:#fff #4d4d4d #4d4d4d #4d4d4d;}
.ddf-status_languageChoosePop{position:absolute; top:30px; right:0; z-index:10000; width:80px; background:#4d4d4d; display:none; }
.ddf-status_languageChoosePop li{float:left; display: inline-block; width:100%;}
.ddf-status_languageChoosePop li a{ float:left; display:block; width:100%; text-indent:8px; padding:0;}
.ddf-status_languageChoosePop li a:hover{ background:#000; color:#fff; text-decoration:none;}
/* 头部 header */
.ddf-header{position:relative; z-index:5; float:left; width:100%; height:81px; background:#2b79ad; color:#fff; border-bottom:3px solid #256894;-webkit-box-shadow: 0px 1px 2px #bbb;-moz-box-shadow: 0px 1px 2px #bbb;box-shadow: 0px 1px 2px #bbb;}
.ddf-header_logo{ float:left;margin-top:13px; }
.ddf-header_logo_outWords{float:left; width:0px; height:0px; line-height:0px; text-indent:-9999px; }
.ddf-header_search_icon_down{float:left; border-color:#fff #4d4d4d #4d4d4d #4d4d4d; margin:23px 0 0 10px; display:inline;}
.ddf-header_nav{ float:right; width:auto; line-height:32px; height:32px; margin-top:52px; margin-right:2px;/*background:#1e5e87;*/}
.ddf-header_nav li{ float:left;}
.ddf-header_nav_sub,
.ddf-header_nav_sub_sel{ float:left; width:auo; height:32px; padding:0 12px; line-height:32px; color:#fff; font-size:14px; font-weight:bold;/* border-right:2px solid #2b79ad;*/ }
.ddf-header_nav_sub:hover{background:#256894;}
.ddf-header_nav_sub_sel{background:#205980;}
/*头部搜索*/
.ddf-header_search{ float:right; width:auto; line-height:30px; height:30px; margin-top:52px; background:#256894; border:1px solid #205980;}
.ddf-header_search_input_none{ float:left; background:none; border:none; color:#fff; height:30px; line-height:30px; padding:0 5px; width:125px; }
.ddf-header_search_icon_search{ float:left; width:20px; height:20px; overflow:hidden; margin:5px 0; background:url(../images/exam_img.png) -200px -233px no-repeat;_background:url(../images/exam_img.gif) -200px -233px no-repeat;}
.ddf-header_searchChoose{ position:relative; float: left;width:80px; text-indent:5px; height:30px; cursor:pointer;}
.ddf-header_searchChooseCurrent{ float:left;display:inline; padding:0 0 0 5px;}
.ddf-header_searchChoose_icon_down{ float:right;display:inline; width:0; height:0; line-height:0;  margin:12px 8px 0 ; border-width:5px; border-style:solid; border-color:#fff #256894 #256894 #256894;}
.ddf-header_searchChoosePop{position:absolute; top:30px; right:0; z-index:10; width:80px; background:#256894; display: none; }
.ddf-header_searchChoosePop li{float:left; display: inline-block; width:100%;}
.ddf-header_searchChoosePop li a{ float:left; display:block; width:100%; color:#fff; text-indent:6px; padding:0;}
.ddf-header_searchChoosePop li a:hover{ background:#205980; color:#fff; text-decoration:none;}
/*底部 footer*/
.ddf-footer{float:left; margin-top:30px;width:100%;height:50px; text-align:center; background:#4d4d4d;}
.ddf-footer #footer{line-height:50px !important; }
.ddf-footer a{ color:#575757 !important; text-decoration: none;}
.ddf-footer a:hover{ color:#575757;}
#footer a:link {
	color: #575757;
	text-decoration: none;
}
#footer a:visited {
	color: #575757;
}
#footer a:hover {
	color: #575757;
	cursor: pointer;
	text-decoration: underline;
}
#footer a:active {
	color: #535353;
}
/*container 内容*/
/*sidebar 侧栏*/
.ddf-sidebar{width:240px; height:auto; line-height:21px;}
.ddf-user{ position:relative; float:left;width:213px; background:#fff; border: 1px solid #e6e6e6; margin-top:30px; padding:0px 15px 15px 10px;}
.ddf-user_photo{ position:absolute; z-index:10; float:left; width:53px; height:53px;*height:50px;background:#fff; border: 1px solid #888; margin:-10px 15px 0 0;}
.ddf-user_info{ margin:15px 0 0 0; padding-left:70px;}
.ddf-user_name{ font-size:14px;}
.ddf-user_group{ color:#999;}
.ddf-menu{float:left;width:238px; background:#fff; border: 1px solid #e6e6e6; border-top:0; border-bottom:0;}
.ddf-item, 
.ddf-item_h{height:40px; line-height:40px; border-bottom:1px solid #ddd; display:block; padding:0px 15px; font-size:14px; font-weight:; cursor:default; color:#2b79ad;}
/*.ddf-item:hover{ background:#f0f9ff;border-bottom:1px solid #e0ecf4;  color:#333;}*/
.ddf-submenu{ display: block;}
.ddf-subitem,
.ddf-subitem_h{height:32px; line-height:32px; text-indent:25px; background:#fafafa; border-bottom:1px solid #eee; display:block; padding:0px 15px; font-size:14px;}
.ddf-subitem:hover{ background:#f0f9ff; border-bottom:1px solid #e0ecf4; color:#333;}
.ddf-subitem_h{ background:#2B79AD; border-bottom:1px solid #d9effe; color:#fff;}
.ddf-item span{float:left;}
.ddf-icon_learn{float:left; margin:15px 5px 0 0; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -120px -260px no-repeat;}
.ddf-icon_test{float:left; margin:15px 5px 0 0; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -140px -260px no-repeat;}
.ddf-icon_ask{float:left; margin:15px 5px 0 0; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -180px -260px no-repeat;}
.ddf-icon_info{float:left; margin:15px 5px 0 0; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -180px -260px no-repeat;}
.ddf-icon_apply{float:left; margin:15px 5px 0 0; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -200px -260px no-repeat;}
.ddf-icon_arrow_down{float:left; margin:15px 0 0 5px; width:20px; height:20px; overflow:hidden;/*background:url(../images/exam_img.png) -240px -260px no-repeat;*/ }
.ddf-icon_arrow_up{float:left; margin:15px 0 0 5px; width:20px; height:20px; overflow:hidden;background:url(../images/exam_img.png) -260px -280px no-repeat;}
.ddf-item em{ margin-top:10px; }
.ddf-bbs_latest{float:left;width:208px; background:#fff; border: 1px solid #e6e6e6; border-top:0;  border-bottom: 1px solid #bfbfbf; margin-bottom:15px; padding:15px;}
.ddf-bbs_title{font-size:12px; color:#2b79ad;}
.ddf-bbs_con{ margin:10px 0 0;}
.ddf-date{ color:#aaa;}
/*--------sidebar侧栏链接模块links--------*/
.ddf-links{ float:right; width:238px; height:auto; margin-top:30px;background:#fff; border: 1px solid #e6e6e6; border-bottom: 1px solid #bfbfbf; display:inline; }
.ddf-links_title{ width:218px; height:16px; margin-top:15px; padding-left:16px; line-height:16px;border-left:4px solid #2b79ad; font-size:14px; }
.ddf-links_list{float:left; padding:15px 18px 18px 15px; }
.ddf-links_list a{height:28px; line-height:28px; color:#116FAD;}
.ddf-links_list a:hover{ text-decoration:underline;}
.ddf-links_list a em{ float:left; width:2px; height:2px;  margin:13px 6px; background:#565656; overflow:hidden;}
/*main 主体*/
.ddf-main{ position:relative; z-index:3; width:700px; height: auto;min-height:450px; overflow-y: scroll;}
/*--------标题--------*/
.ddf-title{float:left; width:700px;  min-height:38px; line-height:38px; background:#fff;  border-top:2px solid #bfbfbf; margin:30px 0 15px 0; }
.ddf-maintitle{float:left; }
.ddf-icon_learn_3{float:left; margin:8px 3px 0 15px; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -120px -233px no-repeat;}
.ddf-subtitle{margin-left:24px;}
.can_test{float: right; margin-right: 24px;}
.ddf-subtitle li{float:left; padding:0 0 0 12px;}
.ddf-subtitle_line{float:left; width:1px; height:18px; background:#ccc; margin:10px 0 0 12px;}
.ddf-subtitle_list, 
.ddf-subtitle_list:hover, 
.ddf-subtitle_list_h{float:left; height:34px; line-height:34px; margin-top:2px; font-size:14px;   }
.ddf-subtitle_list:hover, 
.ddf-subtitle_list_h, 
.ddf-link_goto:hover, 
.ddf-link_goto_h {color:#2b79ad; border-bottom:2px solid #2b79ad;  }
.ddf-link_goto{ float:right; height:34px; line-height:34px; margin-top:2px; padding:0;}
.ddf-icon_goto{ float:right; margin:9px 10px 0 3px; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -320px -233px no-repeat;}
.ddf-link_triangle{position:relative; z-index:9998;}
.ddf-icon_triangle{float:left; margin:9px 10px 0 3px; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -220px -260px no-repeat;}
.ddf-popup{display:none; position:absolute; top:35px; left:10px; z-index:9999; width:240px; height:180px; overflow:auto; background:#f2f2f2; border:1px solid #ccc;}
/*--------标题tab--------*/
.ddf-tab_big{ float:left; width:960px; border-bottom:2px solid #2b79ad; margin:30px 0 15px 0; }
.ddf-tab{ float:left; width:700px; border-bottom:2px solid #cccccc; margin:30px 0 15px 0; display:inline;}
.ddf-tab li{float:left;}
	/*.selectTag 修复课程内容中tag选项卡 当前选项高亮*/
	.selectTag .ddf-tabnav{/*background: url('../images/selectTag.png') center bottom no-repeat #fff;*/ color: #2b79ad; margin-bottom: -2px; border-bottom: 2px solid #2b79ad;}
.ddf-tabnav, 
.ddf-tabnav_h{float:left; height:38px; line-height:38px; padding:0px 15px; font-size:14px; text-align:center; background:#fff; border-top:2px solid #ccc; margin-right:2px; display:inline; }
.ddf-tabnav:hover, 
.ddf-tabnav_h{color:#428ccb; background:#f7f7f7; border-top:2px solid #cccccc; border-bottom: 2px solid #2b79ad; margin-bottom: -2px;}
/*--------分页页码--------*/
.ddf-vm*{ vertical-align:middle; display:inline-block;}
.ddf-page{ width:680px;}
.ddf-page_nav{height:22px; text-align:center; overflow:hidden; }
.ddf-page_nav a{display:inline-block;}
.ddf-page_num, 
.ddf-page_num_h{width:20px; height:20px; overflow:hidden; line-height:20px; overflow:hidden;  background:#fafafa; border:1px solid #999; margin-left:5px;}
.ddf-page_num:hover, 
.ddf-page_num_h{ color:#fff; background:#448fc2; border:1px solid #3b7da8;}
.ddf-page_prev{background:#fafafa url(../images/exam_img.png) -280px -233px no-repeat; }
.ddf-page_prev:hover{background:#fff url(../images/exam_img.png) -280px -233px no-repeat; }
.ddf-page_next{background:#fafafa url(../images/exam_img.png) -260px -233px no-repeat; }
.ddf-page_next:hover{background:#fff url(../images/exam_img.png) -260px -233px no-repeat; }
/*---------box_border--------*/
.ddf-box_border{border: 1px solid #e6e6e6; border-bottom: 1px solid #bfbfbf;}
/*--------内部模块样式 box_-------*/
.ddf-box_detail{ float:left; width:958px; background:#fff; border: 1px solid #e6e6e6; border-bottom: 1px solid #bfbfbf; margin:30px 0 0; display:; }/*详情概要模块 box_detail*/
.ddf-box, 
.ddf-box_load,
.ddf-box_h{ position:relative; _overflow:hidden; zoom:1; z-index:111;  display: inline-block; width:698px; background:#fff; border: 1px solid #e6e6e6; border-bottom: 1px solid #bfbfbf; margin-bottom:15px;}
.ddf-box_load{ background:none; height:120px; }/*加载模块box_load*/
.ddf-box_load p{ height:20px; line-height:20px; text-align:center; margin-top:50px;}
.ddf-box:hover,
.ddf-box_h{background:#fff; border:1px solid #9dcfe5;}
.ddf-box_title{float:left; display:block; width:360px; line-height:24px; height:24px; font-size:16px; margin-bottom:10px; }
.ddf-box_title_big{float:left; display:block; width:680px; line-height:24px; height:auto; font-size:16px; margin-bottom:10px; }
.ddf-icon_learn_2{float:left; margin:1px 3px 0 0; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -120px -233px no-repeat;}
.ddf-pic_cover{float:left; width:120px; height:120px; overflow:hidden;}
.ddf-list_test_thumb {width: 120px !important; height: 120px !important; display: inline-block; background: #F7F7F7 url(../images/cover_test.jpg) no-repeat center center; border: 1px solid #E8E8E8;}
.ddf-list_course_thumb {width: 120px !important; height: 120px !important; display: inline-block; background: #F7F7F7 url(../images/cover_course.jpg) no-repeat center center; border: 1px solid #E8E8E8;}
.ddf-list_plan_thumb {width: 120px !important; height: 120px !important; display: inline-block; background: #F7F7F7 url(../images/cover_plan.jpg) no-repeat center center; border: 1px solid #E8E8E8;}
.ddf-pic_cover img{float:left; width:120px; height:120px;}
.ddf-box_con{float:left; width:538px; margin:10px;}
.ddf-pic_cover_big{float:left; width:196px; height:156px; overflow:hidden; display:inline; margin:30px; background:#fafafa; border:1px solid #ddd;}
.ddf-box_con_big{float:left; width:680px; padding:15px 15px 15px 3px ; display:inline;}
.ddf-cover_line, 
.ddf-cover_line_big{ position:absolute; top:8px; z-index:20; width:6px; height:102px; overflow:hidden; float:left; background: url(../images/exam_img.png) -550px 0px no-repeat; margin-left:8px;}/*计划封面装订线*/
.ddf-cover_line_big{height:136px;}
.ddf-info{float:left; _float:none; width:548px;}
.ddf-info_courseDetail{float:left; _float:none; width:455px;}
.ddf-info_courseDetail_big{float:left; _float:none; width:680px;}
.ddf-info_item{line-height:21px; height:auto;}
.ddf-info_name{color:#aaa; display:inline;}
.ddf-info_con{color:#333;}
.ddf-box_btn_area{position:absolute; right:10px; top:10px; z-index:100; width:180px; background:#;}
.ddf-box_btn_area_msgbox{ float:right; display:block; margin-top:5px;}
.ddf-box_btn_area_msg{ float:left; display:block; line-height:20px; height:20px; color:#888;}
.ddf-box_btn_area_msglink{ float:left; display:block; line-height:20px; height:20px; color:#2C76C0;}
.ddf-box_btn_area_msglink:hover{ color:#09498b; text-decoration:underline; }
.ddf-box_title_icon_bm{float:left; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -120px -320px no-repeat;}/*报名申请的icon图标*/
.ddf-box_btnbox{ float:left; width:180px;  }
.ddf-icon_plan_3{float:left; margin:9px 3px 0 15px; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -160px -233px no-repeat;}
.ddf-box_title_icon_plan{float:left; margin:2px 3px 0 0; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -160px -233px no-repeat;}/*计划的icon图标*/
.ddf-grade_four{float:left; margin:3px 0 0 3px;  width:60px; height:20px; background: url(../images/exam_img.png) 0px -380px no-repeat;}/*课程、计划等级*/
.ddf-icon_test_2{float:left; margin:1px 3px 0 0; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -140px -233px no-repeat;}
.ddf-icon_test_3{float:left; margin:9px 3px 0 15px; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -140px -233px no-repeat;}
/*----默认按钮ddf-btn--------*/
.ddf-btn,
.ddf-btn:hover,
.ddf-btn_h{background:#82b8da; border:1px solid #73a2bf; color:#fff; font-size:12px; padding:2px 22px; display:block;}
.ddf-btn:hover,
.ddf-btn_h{background:#448fc2; border:1px solid #3b7da8;}
.ddf-btn_enter{float:right;line-height:24px; height:24px;  display:inline;}
.ddf-btn.disabled { background: gray; border-color: gray; cursor: default;}
/*----默认按钮ddf-btn2--------*/
.ddf-btn2,
.ddf-btn2:hover,
.ddf-btn2_h{background:#e8f6ff; border:1px solid #c5dcec; border-bottom:1px solid #b7d5ea; color:#333; font-size:12px; padding:2px 22px; display:block;}
.ddf-btn2:hover,
.ddf-btn2_h{background:#d1ecfe; border:1px solid #b7d5ea;}
/*---通过的按钮---*/
.ddf-btn_pass{background:#6c6; border:1px solid #696; color:#fff; font-size:12px; padding:2px 22px;}
/*---无效的按钮---*/
.ddf-btn_invalid{background:#ccc; border:1px solid #bbb; color:#fff; font-size:12px; padding:2px 22px;}
.ddf-btn_control,
.ddf-btn_control_h{ float:left;height:18px; line-height:18px;*line-height:20px; background:#82b8da; border:1px solid #73a2bf; color:#fff; font-size:12px; padding:2px 10px; display:block;}
.ddf-btn_control:hover,
.ddf-btn_control_h{background:#448fc2; border:1px solid #3b7da8;}
/*---------灰色按钮 graybtn-------*/
.ddf-graybtn,
.ddf-graybtn:hover,
.ddf-graybtn_h{float:left; height:18px; line-height:18px;*line-height:20px; background:#f2f2f2; border:1px solid #e5e5e5; color:#565656; font-size:12px; padding:2px 10px; display:block;}
.ddf-graybtn:hover,
.ddf-graybtn_h{ background-color:#d9d9d9; border-color:#ccc;}
/*---------灰色按钮 graybtn2-------*/
.ddf-graybtn2,
.ddf-graybtn2:hover,
.ddf-graybtn2_h{ background:#fafafa; border:1px solid #ccc; color:#888;}
.ddf-graybtn2:hover,
.ddf-graybtn2_h{ background-color:#fafafa; border-color:#ccc; color:#888}

/*课程目录*/
.ddf-column{ float:left; width:700px; background:#fff; border: 1px solid #e7e7e7; border-bottom: 1px solid #bfbfbf; margin:0 0 15px; padding-bottom:15px;}
.ddf-column a:hover{text-decoration: underline; }
.ddf-column th,.ddf-column td{ text-align:left; vertical-align:middle; padding:2px 2px 2px 5px; word-break:keep-all; white-space:nowrap; }
.ddf-column td{height:27px; line-height:27px;}
.ddf-column th{ height:35px; line-height:35px; font-weight:normal; background:#fff; border-bottom:1px solid #e6e6e6;}
.ddf-column th.name{ width:32%;}
.ddf-column th.subject{ width:14%;}
.ddf-column th.time{ width:12%;}
.ddf-column th.rate{ width:30%;}
.ddf-column th.add{ width:12%;}
.ddf-column_name{color:#2b79ad; float:left; width:180px;overflow:hidden; text-overflow:ellipsis; }
.ddf-load{ display:inline; float:left; width:130px; height:11px;}
.ddf-load_course{ display:inline; float:left; width:190px; height:11px;}
.ddf-loading{float:left; width:30px; height:11px; background:#ccc;}
.ddf-column em{float:left; width:20px; height:20px; overflow:hidden; margin-top:8px; margin-right:0px; background:url(../images/exam_img.png) -260px -60px no-repeat;}
.ddf-column em.ddf-down_pic{background:url(../images/exam_img.png) -320px -60px no-repeat;}
.ddf-column tr:hover{background:#e7f0f7;}
/*questionbox*/
.ddf-questionbox{float:left; padding:10px; margin-top:15px; background:#fff;}
.ddf-questionbox_first{float:left; padding:10px; margin-top:0; background:#fff;}
.ddf-userimg{ float:left; width:50px; height:50px; border:1px solid #ccc; margin-right:10px;}
.ddf-answer{ float:right; margin-top:16px;}
.ddf-question_donebox{ float:left; width:447px; height:auto;}
.ddf-question_done{ float:left; width:auto; height:20px; margin-top:10px; padding:0px 10px; margin-right:10px; line-height:20px; color:#fff; background:#95db77;}
.ddf-question_donetext{ float:left; width:356px; height:auto; margin-top:10px; margin-right:25px; line-height:20px;}
.ddf-question_name_time{ float:left; width:356px; height:20px; margin-top:4px; line-height:20px; color:#808080;}
.ddf-question_name_time span{ margin-left:6px;}
.ddf-question_donenum{ float:left; width:auto; height:18px; margin-top:19px; padding:0px 10px; line-height:18px; border:1px solid #e5e5e5; color:#999; background:#f2f2f2;}
.ddf-question_donenum:hover { color:#808080; background-color: #d9d9d9; border-color: #ccc;}
/*课程详情页*/
.ddf-course_ratebox{ float:right; display:block; width:185px; min-height:100px; padding:0 10px 0 30px; _padding:0 10px 0 20px; background:url(../images/line_shade.jpg) left no-repeat;}
.ddf-info_con_rate{color:#094; font-size:20px; line-height:28px; height:auto;}
.ddf-info_con_rate_percent{color:#094;}

/*评价 star Start*/
.ddf-rating_area {display: inline-block; position: relative; top: 2px;}
.ddf-rate {display: block !important;}
.ddf-rate dt {float: left;}
.ddf-rate dd {float: left;}
.ddf-rating {width: 80px; height:16px;padding: 0;list-style: none;clear: both;position: relative;background: url(../images/star-matrix.png) no-repeat 0 0;}
.ddf-nostar {background-position: 0 0;}
.ddf-onestar {background-position: 0 -16px;}
.ddf-twostar {background-position: 0 -32px;}
.ddf-threestar {background-position: 0 -48px;}
.ddf-fourstar {background-position: 0 -64px;}
.ddf-fivestar {background-position: 0 -80px;}
ul.ddf-rating li {cursor: pointer;float: left;text-indent: -999em;}
ul.ddf-rating li a {position: absolute;left: 0;top: 0;width: 16px;height: 16px;text-decoration: none;z-index: 200;overflow: hidden;text-align: left;text-indent: -300px;}
ul.ddf-rating li.one a {left: 0;}
ul.ddf-rating li.two a {left: 16px;}
ul.ddf-rating li.three a {left: 32px;}
ul.ddf-rating li.four a {left: 48px;}
ul.ddf-rating li.five a {left: 64px;}
ul.ddf-rating li a:hover {z-index: 2;width: 80px;height: 16px;overflow: hidden;left: 0;background: url(../images/star-matrix.png) no-repeat 0 0;}
ul.ddf-rating li.one a:hover {background-position: 0 -96px;}
ul.ddf-rating li.two a:hover {background-position: 0 -112px;}
ul.ddf-rating li.three a:hover {background-position: 0 -128px;}
ul.ddf-rating li.four a:hover {background-position: 0 -144px;}
ul.ddf-rating li.five a:hover {background-position: 0 -160px;}
/*star End*/

/*-------------------------------课件播放页----------------------------*/
.ddf-header_short{ float:left; width:100%; height:40px; line-height:28px; background:#2b79ad; color:#fff; border-bottom:4px solid #256894;}
.ddf-header_title{ float:left;color:#fff; font-size:16px; margin:7px 10px 0 0; width:700px;}
/*--------侧栏播放模块play--------*/
.ddf-title_long{float:left; width:960px; height:38px; line-height:38px; background:#fafafa; border-top:2px solid #ccc; margin:30px 0 0 0; text-indent:20px; }
.ddf-play{float:left; width:260px; height:auto; background:#fafafa; border:1px solid #e6e6e6; border-bottom:0px solid #bfbfbf; }
.ddf-play_title{width:218px; height:16px; margin:15px 0 10px 0; padding-left:16px; line-height:16px;border-left:4px solid #2b79ad; font-size:14px;}
.ddf-play ul{ padding:0 0 10px 0; height:252px; overflow:auto; }
.ddf-play ul li{display:block;}
.ddf-play_list, 
.ddf-play_list_h{display:block; height:28px; line-height:28px;}
.ddf-play_list_h, 
.ddf-play_list:hover{color:#2b79ad; background:#e7f0f7;}
.ddf-icon_play{float:left; width:20px; height:20px; overflow:hidden; margin:8px 0 0 8px;  _margin:9px 0 0 8px; background:url(../images/exam_img.png) -260px -40px no-repeat;}
.ddf-icon_play_h, 
.ddf-play_list:hover em{float:left; width:20px; height:20px; overflow:hidden; margin:8px 0 0 8px; _margin:9px 0 0 8px; background:url(../images/exam_img.png) -260px -60px no-repeat;}
.ddf-play_name{ float:left; width:12em; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.ddf-play_time{ float:right; margin-right:10px;}
.ddf-handout{ float:right; width:668px; height:500px;*height:503px; background:#fff; line-height:21px; padding:15px; overflow-y:scroll; }
.ddf-play_control{float:left; width:960px; height:40px; background:#fafafa; border:1px solid #e6e6e6; border-bottom:1px solid #bfbfbf;}
.ddf-play_control_l{ float:left; margin:9px 0 0 15px;}
.ddf-play_control_r{ float:right;margin:9px 15px 0 0;}
.ddf-play_control_name{ float:left; display:block; line-height:20px; padding-right:5px;}
.ddf-play_control_load{ float: left; padding:4px 10px 0 0;}
.ddf-icon_screen{float:left; margin: 0 5px 0 0; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -340px -40px no-repeat;}
.ddf-note{ width:940px; height:230px; line-height:21px; padding:10px; }
/*计划详情页*/
.ddf-tagContent {float:left; display:none; width:100%; }
#ddf-tagContent div.ddf-selectTag { display:block;}
.ddf-planDetail_msg{ line-height:28px; padding:10px;}
.ddf-subject{color:#2b79ad; float:left; width:100px;overflow:hidden; text-overflow:ellipsis; white-space: nowrap; }
.ddf-testName{color:#333; float:left; width:560px;overflow:hidden; text-overflow:ellipsis; white-space: nowrap;}
.ddf-testResult{float:left; width:100px; color:#333;}
/**/
.ddf-box_action{float:left; background:#fff;}
/*个人资料页*/
.ddf-icon_person{float:left; margin:9px 5px 0 10px; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -340px -233px no-repeat;}
.ddf-content{float:left; width:670px; min-height:400px; _height:400px; padding:15px 15px 30px; background:#fff;}
.ddf-personData{float:left; width:650px; line-height:30px; height:auto;}
.ddf-personData th{ width:150px; padding-right:8px; text-align:right; font-weight:normal;line-height:40px; font-size:14px;}
.ddf-personData_input{ border-radius:3px; border:1px solid;border-color:#d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8;box-shadow:2px 3px 3px #f6f8f9 inset;-moz-box-shadow:2px 3px 3px #f6f8f9 inset;-webkit-box-shadow:2px 3px 3px #f6f8f9 inset;outline:none;padding:0 8px;width:212px;height:26px;font-size:12px;*line-height:26px;line-height:26px\0;padding:1px 8px;}
.ddf-personData_input:hover{ border:1px solid #2b79ad;}
.ddf-input_captcha{float:left; width:120px;}
.ddf-input_captcha_change{float:left; width:100px;}
.ddf-captchabox{float:left; padding: 0 0 0 10px; color:#999; }
.ddf-captchabox img{ float:left; margin-right:10px; padding:4px 9px 3px 10px; border: 1px solid #e6e6e6; border-bottom: 1px solid #ccc;}
.ddf-personData_use{ float:left; width:100px; height:100px; overflow:hidden;border: 1px solid #e6e6e6; border-top-color:#eee;  border-bottom: 1px solid #ccc; background:url(../images/person-use.png) no-repeat;}
.ddf-personData_use img{ width:100px; height:100px; }
.ddf-personData_link{ float:left; padding:24px 0 0 12px;}
.ddf-personData_link a{ color:#2c76c0; padding:5px; }
.ddf-personData_link a:hover{ color:#09498b; text-decoration:underline; }
.ddf-personData_link span{color:#999;}
.ddf-personData .ddf-btnArea{ float:left; padding:15px 0 0;}
.ddf-personData .ddf-btnArea a{ float:left; margin-right:15px;}
/*我的考试记录页*/
.ddf-title_filter{ float:right;}
.ddf-title_filter a, .ddf-title_filter b{ float:right;}
.ddf-title_icon_down{ float:right;display:inline; width:0; height:0; line-height:0;  margin:16px 15px 0 8px ; border-width:5px; border-style:solid; border-color:#666 #fafafa #fafafa #fafafa;cursor:pointer;}
.ddf-title_icon_down2{ float:right;display:inline; width:0; height:0; line-height:0;  margin:0px 5px 0 5px ; border-width:5px; border-style:solid; border-color:#666 #fafafa #fafafa #fafafa; position:absolute; left:93px; top:10px; cursor:pointer;}
.ddf-title_filterPanel{ float:left; width:670px; margin:0 15px; _margin:0 7px; padding:5px 0 15px ; border-top:1px solid #ccc;}
.ddf-title_filterPanel dl{ float:left; padding:0 15px 0 0; line-height:28px;}
.ddf-filter_input{ border-radius:3px; border:1px solid #999;box-shadow:2px 3px 3px #f6f8f9 inset;-moz-box-shadow:2px 3px 3px #f6f8f9 inset;-webkit-box-shadow:2px 3px 3px #f6f8f9 inset;outline:none;padding:0 8px;width:100px;height:20px;font-size:12px;*line-height:20px;line-height:20px\0;}
.ddf-filter_input:hover{ border:1px solid #2b79ad;}
.ddf-title_filterPanel .ddf-btnArea{ float:left; padding:27px 0 0;}
.ddf-title_filterPanel .ddf-btnArea .ddf-btn2{ line-height:20px;}
.pr{ position:relative;}
.pa{ position:absolute;}
.ddf-title_testChoose{ float:left; border:1px solid #ccc; border-bottom:1px solid #bfbfbf; background:#fff; position:absolute; z-index:9999;top:29px; left:0; min-width:106px; width:106px; padding:0 5px 10px; box-shadow:2px 2px 2px #ddd;-moz-box-shadow:2px 3px 3px #f6f8f9;-webkit-box-shadow:2px 3px 3px #f6f8f9;}
/*new box*/
/*--------内部模块样式 box2-------*/
.ddf-box2, 
.ddf-box2_load,
.ddf-box2_h{ position:relative; _overflow:hidden; zoom:1; z-index:111;  display: inline-block; width:670px; border-bottom:1px solid #f2f2f2; padding:8px 0;}
.ddf-box2:hover,
.ddf-box2_h,
.ddf-box3:hover,
.ddf-box3_h,
.ddf-box4:hover,
.ddf-box4_h{background:#f8f8f8;}
.ddf-box2_load,
.ddf-box4_load{ background:none; height:120px; }/*加载模块box_load*/
.ddf-box4_load p,
.ddf-box2_load p{ height:20px; line-height:20px; text-align:center; margin-top:50px;}
.ddf-box2_title{float:left; display:block; width:360px; line-height:24px; height:24px; font-size:16px; margin-bottom:10px; }
.ddf-box2_con{float:left; width:558px; margin:10px 0 0 10px;}
.ddf-box2_btn_area{position:absolute; right:10px; top:10px; z-index:100; width:180px; background:#;}
.ddf-box2_btnbox{ float:left; width:180px;  }
/*--------内部模块样式 box3 box4-------*/
.ddf-box_Q, 
.ddf-box4, 
.ddf-box4_load,
.ddf-box3, 
.ddf-box3_load,
.ddf-box3_h{ position:relative; _overflow:hidden; zoom:1; z-index:111;  display: inline-block; width:650px; border-bottom:1px solid #f2f2f2; padding:8px 10px;}
.ddf-box_Q{ border:0;}
.ddf-box4, 
.ddf-box4_load{ border-bottom:1px dashed #ccc;}
.ddf-box3_title{float:left; display:block; width:500px; line-height:24px; height:24px; font-size:16px; margin:3px 0 8px; }
.ddf-box3_titleLink{ color:#2c76c0; }
.ddf-box3_titleLink:hover{ color:#09498b; }

.ddf-box3_con{float:left; width:558px; margin:0 0 0 10px;}
.ddf-box3_msgbox{position:absolute; right:10px; top:40px; z-index:100; width:120px;}
.ddf-box3_msg{ font-size:12px; color:#888;display: inline;float: right;height: 24px;line-height: 24px;}
/*考试成绩*/
.ddf-scorebox{ float:left; width:100px; height:100px; border:1px solid #ccc; background:#fafafa;}
.ddf-score{ float:left; width:100px;line-height:50px; padding-top:12px;text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:40px;}
.ddf-scoreGrade{ float:left; width:100px; line-height:36px; text-align:center; font-family:微软雅黑, Arial, Helvetica, sans-serif; font-size:17px; color:#063;}
.red{color:#900;}
.orange{color:#c60;}
.gray{ color:#bbb;}
.blue{ color:#2b79ad;}
/*问答*/
.ddf-FAQ_linkbox{ padding-left: ; display:block; margin-top:16px; width:100%; padding-left: 34px;}
.ddf-FAQ_link{ float:left; display:inline;  font-size:12px; color:#2C76C0; line-height:20px;}
.ddf-FAQ_link:hover{color:#09498b;}
.ddf-FAQ_link_icon_down{ float:left; width:0; height:0; line-height:0;  margin:7px 8px 0 ; border-width:5px; border-style:solid; border-color:#256894 #fff #fff #fff;}
.ddf-icon_ask_FAQ{float:left; margin:9px 5px 0 10px; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -180px -233px no-repeat;}
.ddf-ansbox{ float:left; width:54px; height:54px; border-radius:3px; background:#e9e9e9;}
.ddf-ansNum{ float:left; width:54px;line-height:26px; font-size:16px; padding-top:6px;text-align:center;}
.ddf-ans{ float:left; width:54px; line-height:18px; text-align:center; font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-size:14px; color:#888;}
.ddf-FAQ{ float:left;width:670px; background:#fff; border: 1px solid #e6e6e6;padding: 15px 15px;}
.ddf-FAQ_line{float:left;width:700px; height:4px; background:#eee;border-width:1px; border-color:#ccc #e6e6e6 #ccc #e6e6e6;}
.ddf-FAQ_line2{float:left;width:100%; border-top:1px solid #ccc; margin:5px 0 3px;}
.ddf-imgbox_ask{ float:left; width:24px; height:24px; border-radius:3px; overflow:hidden;background:#e9e9e9 url(../images/exam_img.png) 0px -300px no-repeat;}
.ddf-imgbox_ans{ float:left; width:24px; height:24px; border-radius:3px; overflow:hidden;background:#e9e9e9 url(../images/exam_img.png) -24px -300px no-repeat;}
.ddf-FAQ_con{float:left; width:628px; margin:0 0 0 10px;}
.ddf-FAQ_con2{float:left; width:100%; margin:8px 0; padding: 10px 5px;}
.ddf-FAQ_title{float:left; display:block; width:628px; line-height:24px; height: auto; font-weight:bold;  font-size:16px;   margin:0 0 5px;}
.ddf-FAQ_info{ /*float:left;*/ width:100%;}
.ddf-FAQ_infobox{float:left; width:100%; font-size:14px; line-height:24px; height:auto; padding:5px 0;}
.ddf-FAQ_btn_area{width:98%; height:30px;}
.ddf-FAQ_ansbg{background:#e6fbeb; border: 1px solid #e6e6e6; border-bottom:0;}
.ddf-FAQ_mybg{background:#f6fdf8; border: 1px solid #f2f2f2;}
.ddf-FAQ_panel{ float:left; width:100%;}
.ddf-FAQ_textbox{width:100%;}
.ddf-FAQ_textarea{ float:left; width:98%; height:50px; padding:3px 5px; margin:10px 0 0; overflow-y:auto; resize:none; font-size:12px; line-height:24px; height:auto; color:#333;border:1px solid;border-color:#d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8;box-shadow:2px 3px 3px #f6f8f9 inset;-moz-box-shadow:2px 3px 3px #f6f8f9 inset;-webkit-box-shadow:2px 3px 3px #f6f8f9 inset;outline:none;}
.ddf-FAQ_textarea:hover{border-color:#ccc;}
.ddf-FAQ_btnbox{ float:right;width:110px;}
.ddf-btn_link{ line-height:30px; height:auto; font-size:13px; color:#888;}
.ddf-btn_link:hover{ text-decoration:underline;}
.ddf-FAQ_time{ position:absolute; top:18px; right:20px;}
/*短消息*/
.ddf-titleLink{ float:right; font-size:12px; padding:0 20px 0 0; color:#2C76C0;}
.ddf-titleLink:hover{color:#09498b;}
.ddf-msg{ width:600px;}
h3.ddf-box3_title div{ float:left;}
.ddf-icon_msg_edit{float:left; margin:8px 3px 0 0px; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -360px -233px no-repeat;}
.ddf-icon_msg{ float:left;  margin:4px 0 0px;width:40px; height:40px;  overflow:hidden;background:url(../images/exam_img.png) -120px -140px no-repeat;}
.ddf-icon_note{ float:left;  margin:4px 0 0px;width:40px; height:40px;  overflow:hidden;background:url(../images/exam_img.png) -220px -140px no-repeat;}
.ddf-icon_back{float:left; margin:8px 3px 0 0px; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -380px -233px no-repeat;}
.ddf-icon_notice{ float:left;  margin:4px 0 0px;width:40px; height:40px;  overflow:hidden;background:url(../images/exam_img.png) -180px -140px no-repeat;}
.ddf-noticeTitle{ float:left; width:100%; text-align:center; padding:5px 0;}
.ddf-notice_info{float:left; width:100%;  text-align:center; margin:3px auto 0;}
h3.ddf-box3_title div{ float:left;}
/*播放页*/
.ddf-header_play{ float:left; width:100%; min-height:45px; padding:20px 0 10px; background:#f7f7f7; color:#333; -webkit-box-shadow: 0px 1px 2px #bbb;-moz-box-shadow: 0px 1px 2px #bbb;box-shadow: 0px 1px 2px #bbb;}
.ddf-header_playTitle{ float:left; width:100%; padding:0px 0 8px; line-height:24px; height:auto; font-size:16px; font-family:微软雅黑, Arial, Helvetica, sans-serif;}
.ddf-wrapperPlay{float:left; width:100%; height:560px; background:#000; margin-bottom:130px;}
/*密码修改*/
.ddf-content_pw{ margin:30px auto 0;width:670px; min-height:400px; _height:400px; padding:15px 15px 30px; background:#fff;}
.ddf-pw{ width:700px; min-height:400px; _height:400px; padding:15px 15px 30px; background:#fff; line-height:38px; background:#fff;  border: 1px solid #e6e6e6; border-bottom: 1px solid #bfbfbf; margin:30px auto 15px; }
.ddf-pwbox{ width:240px;}
.ddf-pw_notes{text-align:left;}
.ddf-asterisk{ font-size:15px; padding-right:3px; color:#f60;}
.ddf-icon_pw{float:left; margin: 9px 5px 0 15px; width:20px; height:20px; overflow:hidden; background:url(../images/exam_img.png) -400px -233px no-repeat;}
/*人工评分*/
.ddf-testWrap_2{ clear:both; width:100%;}
.ddf-testWrap_table{ margin:0 auto; width:1270px;}
.ddf-testWrap{position:relative; z-index:; width:100%; height:auto;margin:0px auto; }
.ddf-testTitle{ float:left; display:inline-block; width: 100%; text-align: center; color:#fff; font-size:16px;}
.ddf-testTopbox{ float:right; width:200px;}
.ddf-ansSheetBtn{ float:left; width:100px;}
.ddf-ansSheetBtn:hover{ color:#ccc; background:#666;}
.ddf-status_testChoose{ position:relative; float:left; height:30px; cursor:pointer;}
.ddf-status_testCurrent{ float:left;display:inline; padding:0 0 0 5px;}
.ddf-modelChoose{ float:right;}
.ddf-testChoosePop{ float:left; width:100%; }
.ddf-ansSheet{width:100% !important; background:#fafafa; border-bottom:1px solid #ccc; z-index: 1; position: fixed; top:0;}
.ddf-ansSheetChoosePop{ float:left;padding:5px 10px; background:#069; line-height:24px; display:; }
.ddf-ansSheetChoosePop li{float:left; display: inline-block; width:100%;color:#333;}
/*.ddf-ansSheetbox{height:120px;}*/
.ddf-ansSheetbox_title{ float:left;}
.ddf-tagContent_ans{ float:left; width:100%;padding:5px 0 0; *padding:5px 0;  border-top:1px solid #ccc; background:#fafafa;}
.ddf-modelCurrent{ float:right;}
.ddf-ansSheet_num,.ddf-ansSheet_num:hover,.ddf-ansSheet_num_wered,.ddf-ansSheet_num_done,.ddf-ansSheet_num_sign{ float:left; width:24px; height:24px; margin-bottom:5px; margin-left:2px; margin-right:2px; line-height:24px; text-align:center; color:#565656; border:1px solid #ccc; display:inline;}
.ddf-ansSheet_num:hover{ border:1px solid #2B79AD; background:#2B79AD; color:#fff;}
.ddf-ansSheet_num_done{ color:#fff; background-color:#ccc; border:1px solid #ccc;}
.ddf-ansSheet_num_sign{ color:#fff; background-color:#ffb032; border:1px solid #ffb032;}
.ddf-ansSheet_num_wered{ color: #fff;background-color: #01d506;border: 1px solid #01d506;}
.ddf-ansTable{ float:left; margin-top:10px;}
.ddf-ansTable_a{ width:50%; background:#f7fdfe; vertical-align:top;}
.ddf-ansTable_a:hover{ background:#E8F9FD;}
.ddf-ansTable_b{width:50%; background:#fffaef;}
.ddf-ansTable_b:hover{ background:#fff5de;}
.ddf-test_ans{float:left; width:630px; height:auto; margin-top:-30px; margin-bottom:30px; padding:10px 15px; background:#E6FBEB;border-top:1px solid #f3f2f2; border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2; border-bottom:2px solid #e2e2e2; position:relative;/*--IE6--*/ _z-index:10;}
.ddf-testScore{ float:left; width:100%;font-size:16px; font-family:微软雅黑, Arial, Helvetica, sans-serif;}
.ddf-testScore_b{padding:5px;}
.ddf-testScore_num{ padding:0 10px; font-weight:bold;font-size:16px;}
.ddf-testScore_num2{ padding:0 0 0 10px; font-weight:bold;font-size:16px;}
.ddf-testScore_num_input, .ddf-testScore_num_reviews{ width:40px; border-radius:3px; border:1px solid;border-color:#d8d8d8 #e5e5e5 #e5e5e5 #d8d8d8;box-shadow:2px 3px 3px #f6f8f9 inset;-moz-box-shadow:2px 3px 3px #f6f8f9 inset;-webkit-box-shadow:2px 3px 3px #f6f8f9 inset;outline:none;padding:3px 5px;}
.ddf-testScore_num_input:hover,.ddf-testScore_num_reviews:hover{ border:1px solid #ddb76f;}
.ddf-testScore_num_reviews{ width:530px; }
/*test*/
.test-status{width:100%; height:30px; line-height:30px; background:#4d4d4d; color:#e6e6e6;}
.test-timebox{ float:right;width:auto; padding:0 8px;}
.test-top{ /*float:right; width:23%;*/ position: absolute; right: 0; top: 0;}
.test-ansSheetBtn,.test-submitBtn{ float:right; padding:0 30px; background:#2B79AD; color:#fff;}
.test-ansSheetBtn:hover,.test-submitBtn:hover{background:#035084;}
.test-ansSheet_icon_down{ transform-origin:50% 25%; -webkit-transform-origin:50% 20%; transition:transform .4s;-webkit-transition:-webkit-transform .4s;float:left;display:inline; width:0; height:0; line-height:0;  margin:12px 0 0 8px ; border-width:5px; border-style:solid; border-color:#fff #2B79AD #2B79AD #2B79AD;}
.test-ansSheetBtn:hover .test-ansSheet_icon_down{/* float:left;display:inline; width:0; height:0; line-height:0;  margin:12px 0 0 8px ; border-width:5px; border-style:solid;*/ border-color:#fff #035084 #035084 #035084;}

/*我的笔记*/
.ddf-icon_del{ background:url(../images/icon/icon_del2_normal.png) no-repeat; display: inline-block; height: 19px; padding: 0 2px; width: 19px; position: relative; top: 3px;}
.ddf-icon_edit{ background:url(../images/icon/icon_edit_normal.png) no-repeat; display: inline-block; height: 19px; padding: 0 2px; width: 19px; position: relative; top: 3px;}
.ddf-icon_save{ background:url(../images/icon/icon_save_normal.png) no-repeat; display: inline-block; height: 19px; padding: 0 2px; width: 16px; position: relative; top: 5px;}
.ddf-titleLink:hover .ddf-icon_del{ background:url(../images/icon/icon_del2_over.png) no-repeat; display: inline-block; height: 19px; padding: 0 2px; width: 19px; position: relative; top: 3px;}
.ddf-titleLink:hover .ddf-icon_edit{ background:url(../images/icon/icon_edit_over.png) no-repeat; display: inline-block; height: 19px; padding: 0 2px; width: 19px; position: relative; top: 3px;}
.ddf-titleLink:hover .ddf-icon_save{ background:url(../images/icon/icon_save_over.png) no-repeat; display: inline-block; height: 19px; padding: 0 2px; width: 16px; position: relative; top: 5px;}

/*前台公告区块*/
.q-list,li{list-style:none; margin:0; padding:0;}  
.q-scroll{ float:left; width:100%; height:35px; overflow:hidden; background:#fcf8e3; border:1px solid #faebcc; margin-top:10px; margin-bottom: -10px;} 
.q-noticeName{float:left; padding: 0 5px 0 12px; line-height:35px; color:#8a6d3b; font-family:微软雅黑; font-weight:bold; font-size:14px;} 
.q-list{ float:left;}
.q-scroll li{ width:800px; height:35px; line-height:35px; overflow:hidden;}  
.q-scroll li a{ font-family:微软雅黑;font-size:14px;color:#333; text-decoration:none; display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: keep-all;}  
.q-scroll li a:hover{ text-decoration:underline;}  

/*弹出窗口组件 内部信息的样式box*/
.q-applybox{ margin:0 auto; padding:15px 20px 30px 20px;}
.q-popupTitle{ float:left; font-size:14px; color:#333; padding:5px 0;}
.q-popupCon{ margin:0 auto; padding:15px 20px 30px 20px;font-size:14px !important; color:#333; }
textarea {
    border: 1px solid #ccc; font-size:14px; color:#333; line-height: 23px;padding: 0 3px;resize: none;
}
textarea:hover { border: 1px solid #42a7f4;}
.q-popupTextarea{ float:left; width:100%; height:120px;}

/**/
.z-box{ float:left; width:680px; height:100px; line-height:22px; color:333; background:#fff; border: 1px solid #e7e7e7; border-bottom: 1px solid #bfbfbf; margin:0 0 15px; padding:10px;}
/*修正 我的考试记录*/
a.x-testTitle{cursor:default!important;}
a.x-testTitle:hover{cursor:default!important;}
a.x-testTitle2{cursor:pointer!important;}
a.x-testTitle2:hover{cursor:pointer!important;}
/******
*日期：2014年11月6日
*姓名：孟令通
*修改项目：前台弹出层边框问题
******/
.oDialogDiv{ border: none !important;}
/*前台课程和学习计划的footer没有100%置底*/
.ddf-footer{height:60px;}
.ddf-main{min-height:558px;}
/*前台问答，我有更好的答案右侧三角图标翻转*/
.ddf-FAQ_link_icon_down{ transform-origin: 50% 25% 0; transition: transform 0.4s ease 0s;}
.ddf-FAQ_link:hover .ddf-FAQ_link_icon_down{ transform:rotate(180deg);}
/*提问者的名称以及提问时间那一行与提问的内容间距太小*/
.ddf-ask_answer{margin-top:20px;}
.ddf-FAQ_title{margin-bottom:16px;}
/*前台提问，引用回答部分样式修改*/
.ddf-box4{margin-bottom: 10px; width: 600px; margin-left: 25px; margin-right: 25px;}
#getQuestionPageTable td{border: none;}
/*#getQuestionPageTable tbody{ border: 1px solid #d9d9d9;}*/
#getQuestionPageTable{}
.clear{ clear: both;}
.quote_answer{width: 544px; padding-top:10px; padding-bottom: 10px; padding-left: 26px; padding-right: 26px; border:1px solid #d0edff; background-color:#edf8ff; margin-top: 10px; margin-bottom: 10px;}
/*在问答列表页回答*/
.ddf-FAQ_textbox{ width:600px; margin: 0 auto;}
.ddf-FAQ_btnbox{ margin-right: 10px; margin-top: 10px; margin-bottom: 10px;}
/*修改语言选择select样式*/
.choose-language {
    float: right;
    padding-top: 0px;
    position: relative;
    width: 84px;
    height: 30px;
    z-index: 99999;
    height: 100%;
}

.choose-language .normal {
    display: block;
    height: 20px;
}
.normal {
    margin-right: 14px;
    text-align: center;
}
.choose-language .open {
    background: none repeat scroll 0 0 #4d4d4d;
    display: none;
    position: absolute;
    top: 20px;
    width: 84px;
    z-index: 9999;
}
.ddf-status a {
    color: #e6e6e6;
    padding: 0 3px;
}
.choose-language .open a {
    background-color: #4d4d4d;
    cursor: pointer;
    display: block;
    transition: all 0.5s ease 0s;
}
.choose-language li a {
    color: #fff;
    padding-left: 12px;
}
.choose-language li a:hover {
    color: #fff;
    padding-left: 12px;
    background-color: #000;
    text-decoration: none;
}
.language-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background:  url(images/select_language_icon.png) no-repeat 0 2px;
    height: 5px;
    overflow: hidden;
    position: absolute;
    right: 3px;
    top: 7px;
    transform-origin: 50% 25% 0;
    transition: transform 0.4s ease 0s;
    width: 5px;
    display: inline;
}
.oDialogDiv .scroll .content{ display: block !important; margin-top: 6px; text-align: left; padding: 5px; line-height: 20px;}
.oDialogDiv .scroll{ height: auto !important;}

/* 我的成绩页面 筛选条件黑色三角箭头动态效果 by MLT */
.ddf-title_icon_down{transform-origin:50% 25%; -webkit-transform-origin:50% 20%; transition:transform .4s;-webkit-transition:-webkit-transform .4s;}
.ddf-title_filter:hover .ddf-title_icon_down{transform: rotate(180deg); -webkit-transform: rotate(180deg); top: 12px;}


/*考试试卷页面，答题卡，点击进行三角箭头动态切换 by MLT*/
.upOrDown{transform: rotate(180deg); -webkit-transform: rotate(180deg); }


/* 前台页面 学习计划中 考试列表->参加考试 按钮样式 by MLT */
.takeExam{ color: #116FAD; text-decoration: underline;}
.user-credit-info-table { width:100%;}
.user-credit-info-table td { padding: 20px; }


/* order */
.order_list{ width: 880px; min-height: 590px; margin: 40px auto; padding: 20px 40px; background: #fff;}
.order_top{ width: 880px; height: 28px; border-bottom: 2px solid #e4e4e4; line-height: 28px; position: relative;}
.order_title{ max-width: 400px; height: 28px; overflow: hidden; font-family: '微软雅黑'; color: #256894; font-size: 18px; padding: 0 7px; border-bottom: 2px solid #256894; position: absolute; bottom: -2px;}
.order_info{ min-width: 200px; height: 28px;}
.order_info a{ display: block; margin-top: 6px; text-shadow: #888484 0 1px 0;  width: 74px; height: 20px; line-height: 20px; text-align: center; background: #50baff; font-family: '微软雅黑'; color: #fff; font-size: 12px;}
.order_info a:hover{ background: #0477c2;}
.order_price{padding-right: 20px; padding-top: 4px;}
.order_body{ width: 834px; padding: 12px 24px 0 24px;}
.order_body table{ width: 100%; table-layout: fixed;}
.order_body table th{ border-bottom: 1px solid #d8d8d8; color: #737373; font-size: 14px; font-weight: normal;}
.order_body table th span{ display: block; height: 24px; line-height: 24px; font-family: '微软雅黑';}
.order_body table td{ height: 30px;}
.order_body table td span{ display: block; height: 30px; line-height: 30px; font-family: '微软雅黑'; font-size: 14px; color: #0f0f0f; text-align: center;}
.order_body table td .courseware{ width: 478px; overflow: hidden; text-align: left;}
.order_total{ width: 880px; height: 136px; border-top: 1px solid #d8d8d8;}
.order_total a{ display: block; margin-top: 25px; float: right; width: 128px; height: 36px; text-align: center; line-height: 36px; color: #fff; font-family: '微软雅黑'; text-shadow: #888484 0 1px 0; font-size: 18px; background: #50baff; border-bottom: 2px solid #0477c2;}
.order_total a:hover{ background: #0477c2;}
.order_total .order_in{ float: right;}
.order_total ul li{ min-width: 200px; text-align: right; font-family: '宋体'; font-size: 12px; color: #222; float: right; line-height: 28px;}
.order_total ul li span{ display: inline-block;/* min-width: 68px;*/}

/* payment */
.payment_info .payment_t{ display: block; float: left; width: 516px; height: 28px; line-height: 28px; color: #353535; font-size: 16px; font-family: '微软雅黑';}
.payment_info .payment_w{ display: block; float: left; width: 516px; height: 18px; line-height: 18px; color: #353535; font-size: 12px; font-family: '微软雅黑';}
.payment_info .price{ display: block; font-size: 18px; float: right; font-family: '微软雅黑';}

.blue{ color: #37afff;}

.payment_body { width: 880px; padding-top: 20px;}
.payment_body label{ float: left; margin-right: 15px; display: block; width: 194px; height: 44px; padding-top: 20px; position: relative;}
.payment_body label span{ display: inline-block; width: 20px; height: 14px; position: absolute; left: 0; top: 35px;}
.payment_body label img{ position: absolute; right: 0; cursor: pointer;}
.payment_body button{cursor:pointer; border: none; display: block; margin-top: 25px; float: left; width: 128px; height: 36px; text-align: center; line-height: 36px; color: #fff; font-family: '微软雅黑'; text-shadow: #888484 0 1px 0; font-size: 18px; background: #50baff; border-bottom: 2px solid #0477c2;}
.payment_body button:active{ background: #0477c2;}
.payment_body button:hover{ background: #0477c2;}
.payment_body button[disabled]{ background: gray; border-color: gray;}

/* ztree 隐藏确定 */
.confirm_mlt{ display: none; position: absolute; bottom: 0; width: 100%; height: 24px; line-height: 24px; text-align: center;}
#ddf-tagContent img{ width: 100%; }