/*Css Document*/
.nav_stay_bg a{float:left; height:29px; _height:29px; line-height:29px;}
* {
	margin: 0;
	padding: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0
}
ul, li {
	list-style: none;
}
.clear {
	clear: both !important;
}
a {
	color:#1994D0;
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
}
.search_select {
	height: 20px;
	padding-right: 0px !important;
	color: #666;
	margin-top: 5px;
	border: 1px solid #4c8a9c;
}
.search_input {
	height: 18px;
	line-height: normal;
	border: 1px solid #4c8a9c;
	margin-top: 3px;  margin-left:5px;
}
.none {
	display: none !important;
}
.auto_width {
	width: 100%;
}
.qa_yes {
}
.qa_yes .inner {
	background: #d4f7d7;
}
.qa_yes .left {
	width: 12px;
	height: 12px;
	background: url(../images/icon/qa_icon_yes.png) no-repeat;
	margin-left: -12px;
	margin-top: 12px;
	position: absolute;
}
.qa_yes .right {
}
.qa_yes .text_status {
	color: #39a700;
}
.qa_no { float:left; width:100%;
}
.qa_no .inner {
	background: #ebebeb;
}
.qa_no .left {
	width: 12px;
	height: 12px;
	background: url(../images/icon/qa_icon_no.png) no-repeat;
	margin-left: -12px;
	margin-top: 12px;
	position: absolute;
}
.qa_no .right {
}
.qa_no .text_status {
	color: #555;
}
#container {
	margin: 0 auto;
	width: 100%;
}
.box {
	width: 1030px;
	height: 100%;
	_height: 100%;
	margin: 0 auto;
}
.block_12 {
}
#head {
	width: 100%;
	height: auto;
}
.head_top {
	_float: left;
	_padding-left: 210px;
	width: 1000px;
	margin: 0 auto;
	height: 40px;
}
.logo {
	float: left;
	padding-top: 15px;
}
.company_title {
	float: left;
	width: auto;
	margin-top: 3px;
	margin-left: 5px;
	padding-top: 15px;
}
.head_right {
	padding-top: 5px;
}
.user_photo {
	float: right;
	margin-left: 2px;
	width: 42px;
	height: 42px;
}
.user_information {
	float: right;
	margin-left: 10px;
	_margin-left: 10px;
}
.user_information_top {
	padding-bottom: 5px;
}
.user_information_top h1 {
	font-size: 13px;
	color: #666;
	font-weight: normal;
	text-align: right;
	margin: 0;
	padding: 0;
	line-height: 20px;
}
.user_menu li {
	float: left;
	display: block;
	margin-left: 8px;
}
.nav_menu li a:link {
	color: white;
}
.nav_menu li a:visited {
	color: white;
}
.searchbox ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.searchbox li {
	float: left;
}
.layout_full_width #sidebar {
	display: none;
}
.layout_full_width #content {
	width: 100%;
}
.search_inputbox {
	float: left;
	margin-right: 2px;
	padding-top: 2px;
}
.search_btn {
	/*padding-top: 7px; */ padding-top:4px;
}
.search_text {
	margin-right: 5px;
	color: #4C8A9C;
	font-weight: bold;
	padding-top: 1px;
}
.box_inner {
	width: 1000px;
	margin: 0 auto;
}
#main_body {
	background: url(bg.gif) 0 0 repeat-y;
	zoom: 1;
	/*margin-bottom: 5px;*/
}
.exam_paper {
}
#sidebar {
	float: right;
	width: 200px;
}
#content {
	float: left;
	width: 780px;
	height: auto !important;
	height: 100px;
}
.list_block {
	width: 100%;
	margin-bottom: 15px;
}
.list_block h1.main_title {
	border-bottom: 2px solid #C3DFE7;
}
h1.main_title .left {
	float: left;
	height: 35px;
	line-height: 35px;
	color: black !important;
	font-size: 15px;
	font-weight: normal;
}
.more_block {
	display: inline-block;
	height: 30px;
	line-height: 30px;
}
.more_block .more_txt {
	float: left;
	margin: 0 3px;
	color: #6D85BF;
	font-size: 13px;
	font-weight: normal
}
.icon_more {
	width: 20px;
	height: 20px;
	background: url(../images/icon_page/page_next_normal.gif) no-repeat;
	display: inline-block;
	position: relative;
	top: 5px;
}
#main_body #sidebar .list_block li a:link {
	color: #6D85BF;
}
.list_block .content {
}
.list_block .content .inner {
	padding: 5px 0;
}
.list_block .content ul {
}
.list_block .content ul li {
	background: url(../images/icon/icon_dot2.png) no-repeat left 5px;
	padding-left: 15px;
	height: 25px;
	line-height: 25px;
}
.home_logged .list_item {
	border-bottom: none;
	background: #FFF;
}
/*.home .list_item .content {
	_padding-bottom: 35px;
}
.course .list_item .content {
	_padding-bottom: 35px;
}
.plan .list_item .content {
	_padding-bottom: 35px;
}*//*ddf 20131210*/
.layout_full_width {
	width: 100%;
}
.icon_list_exam {
	float: left;
	width: 42px;
	height: 42px;
	padding: 2px;
	margin-right: 10px;
	display: inline;
	overflow:hidden;
	background: url(../images/icon/icon_list_exam.png) no-repeat;
}
.list_item .content {
	width:780px;
	padding-top: 8px;position:relative;		
	zoom:1;
}
.right_info {
	height: auto;
	width: 615px;
	
}
.list_item .content .sidebar{ /*background:#990;*/ float: right;  position: absolute; right:0; top:10px; z-index:100; width:180px; height:70px;}
.list_item .content .right{  float:right; width:100%;}
.pageTable {
	margin: 0;
	padding: 0;
	border: 0px solid #D9D9D9;
	width: 100%;
	_table-layout: fixed;
}

.list_item h2.title {
	color:#333;
	font-weight: bold;
	font-size: 13px;
	line-height:30px;
	width:380px;
	overflow:hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
	padding-bottom:5px;
}
.list_item h2.title_detail{
	color:#333;
	font-weight: bold;
	font-size: 13px;
	line-height:30px;
	height:auto;
	width:615px;
}
.list_item h2.w720{width:720px;}
.list_item h2 a {
	font-weight: bold;
	color: #333;	
}
.faq_list .list_item h2 a {
	color: #000;
	/*font-weight: normal;*/
}
.list_item h2 a:link {
	color: #333;
}
.list_item h2 a:hover {
	color: #333;
}
.tt {
	height: 30px;
	float: left;
	color:#333;
	font-weight: bold;
	margin-right: 8px;
}
.col_LR {
	line-height: 22px;
	overflow: hidden;
}
.qa_detail {
	display: inline-block;
	width: 100%;
}
.qa_detail .qa_block .right .inner {
	padding: 2px;
}
.qa_detail .qa_block .right .qa_text {
	background: white;
	padding: 5px;
}
.float_right {
	float: right !important;
}
.no_margin {
	margin: 0 !important;
}
.qa_block .qa_con {
	height: 28px;
	line-height: 28px;
	padding-left: 5px;
	position: relative;
	top: 2px;
}
.qa_block .qa_con dl.dd {
	display: inline-block;
	_display: inline;
	margin-right: 13px;
	float: left;
}
.qa_block .qa_con dt {
	float: left
}
.qa_block .qa_con dd {
	float: left
}
.btn3 span {
	_padding-top: 2px !important;
}
.q_status_03 {
	background: url(../images/icon/q_status_03.png) no-repeat center center;
	width: 20px;
	height: 20px;
	padding-right: 3px;
	display: inline-block;
	position: relative;
	z-index: 200;
	vertical-align: middle;
	bottom: 1px;
}
.q_status_04 {
	background: url(../images/icon/q_status_04.png) no-repeat center center;
	width: 20px;
	height: 20px;
	padding-right: 3px;
	display: inline-block;
	position: relative;
	z-index: 200;
	vertical-align: middle;
	bottom: 1px;
}
.col_LR .sidebar {
	float: right;
	width: 250px;
	text-align: right;
}
.btn_area {
	margin: 8px 0;
}
.btn, .btn2, .btn3 {
	width: 85px;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	background: url(../images/button/btn3_normal.png) repeat-x top !important;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #687586 !important;
	margin-right: 10px;
	border-radius: 3px;
	border: 1px solid #C7CDD8;
	margin-bottom: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	zoom: 1;
	position: relative;
	font-weight: normal !important;
	font-size: 13px !important;
	vertical-align: top;
}
#footer {
	float: left;
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #C5C5C5;
	text-align: center;
}
.l {
	float: left;
}

a:link img {
	border: 0;
}
.list_training_big {
	width: 134px !important;
	height: 152px !important;
	display: inline-block;
	background: #F7F7F7 url(../images/icon/training.jpg) no-repeat center center;
	border: 1px solid #E8E8E8;
	padding: 2px;
}
.list_plan_big {
	width: 134px !important;
	height: 152px !important;
	display: inline-block;
	background: #F7F7F7 url(../images/icon/plan.jpg) no-repeat center center;
	border: 1px solid #E8E8E8;
	padding: 2px;
}
.list_thumb_big {
	width: 134px !important;
	height: 152px !important;
	display: inline-block;
	background: #F7F7F7 url(../images/icon/exam.jpg) no-repeat center center;
	border: 1px solid #E8E8E8;
	padding: 2px;
}
.list_thumb_big img {
	overflow: hidden;
	width: 134px !important;
	height: 152px !important;
}
.r {
	float: right;
}
.list_item .icon_list {
	/*width: 42px;
	height: 42px;*/
	width: 134px;
	height:152px;
	padding: 2px;
	display: inline;
	float: left;
	margin-right: 10px;
	overflow:hidden;
}
.list_item .icon_list img {
	width: 134px;
	height:152px;	
}
.qa_layout_sidebar .icon_list {
	width: 42px;
	height: 42px;
	padding: 2px;
	display: inline;
	float: left;
	margin-right: 10px;
	overflow:hidden;
}
.qa_layout_sidebar .icon_list img {
	width: 42px;
	height: 42px;
}
.list_item div.intro {
	margin: 2px 0;
}
.list_item div.intro ul {
}
.list_item div.intro ul li {
	display: inline-block;
	margin-right: 15px;
}
.list_item div.intro ul li.title {
	color: #6d85bf;
}
.list_item div.intro .btn_area {
	float: right;
}
.list_item .btn_area {
	/*float: right;*/
	text-align: right;
	margin-top: 0;
}
.list_item div.intro .intro_detail {
	display: inline-block;
	margin-top: 5px;
}
.intro_detail h3 {
	color: #666;
	font-weight: normal;
	font-size:13px;
}
.icon_bm {
	background: url(../images/icon/icon_bm.png) no-repeat center center;
	width: 16px;
	height: 16px;
	line-height: 23px;
	display: inline-block;
	position: relative;
	top: 4px;
	*top: 0;
	padding: 0 3px;
	z-index: 200;
}
.col_LR .con dl.dd {
	float: left;
	width:620px;
}
.col_LR .con dt {
	float: left;
}
.col_LR .con dd {
	float: left;
	padding:0 30px 0 0;
}
.col_LR .con dd.ddinfor {
	padding:0;
    width:609px;
	overflow:hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.col_LR .con dd.ddinfor_detail{padding:0;}
.sub_title .con {
	float:left;
	padding-top:10px;
	width:100%;
}
.con dl dt {
	color: #999;
}
.con dl dd {
	color: #333;
}
dl.dd dt a {
	color: #555;
}
.qa_layout_sidebar {
	float: left;
	width: 50px;
}
.icon_link {
	margin-right: 5px;
	font-weight: normal !important;
	color: #666 !important;
	font-size: 13px !important;
	float:right;
	
}
.icon_link font {*font-size: 13px;}
.icon_back {
	float:right;
	background: url(../images/icon/icon_back_normal.png) no-repeat center center;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top: 8px;
	padding: 0 3px;
	z-index: 200;
}
.course_detail .icon_list {
	padding-bottom: 2px;
}
.qa_layout_content {
	margin-left: 55px !important;
	margin-left: 55px;
	height: auto !important;
	
}
.q_detail {
	float:left;
	display: block;
	width:780px;
	margin:10px 0 0;
}
/*span.title {
	color: #333;
	line-height: 28px;
	display: block;
}*/
/*问答*/
h2.question_title, h2.question_title a {
	float: left;
	line-height: 28px;
	height: auto;
	font-size: 13px;
	font-weight:bold;
	width: 720px; 
	color:#333;
}
dl.question_dl{ float:left; width:720px; padding:10px 0;}
dl.question_dl dt, dl.question_dl dd{ float:left;}
dl.question_dl dd{ margin-right:15px;}
.question_con,.question_con a{ float:left; width:720px;}
.q_status_02 {
	background: url(../images/icon/q_status_02.png) no-repeat center center;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 2px;
}
.faq_list h1.main_title span.icon_edit {
	background: url(../images/icon/icon_edit_normal.png) no-repeat;
	vertical-align: top;
	position: relative;
	top: 5px;
}
.faq_title h2 {
	color: #333;
}
.icon_edit {
	background: url(../images/icon/icon_edit_normal.png) no-repeat center center;
	width: 19px;
	height: 19px;
	display: inline-block;
	position: relative;
	top: 3px;
	padding: 0 3px;
	z-index: 200;
}
span.title .right .dd .btn_area {
	margin-left: 10px;
}
/*评价 star Start*/
.rating_area {
	display: inline-block;
	position: relative;
	top: 2px;
}
.rate {
	display: block !important;
}
.rate dt {
	float: left;
}
.rate dd {
	float: left;
}
.rating {
	width: 80px;
	height: 16px;
	padding: 0;
	list-style: none;
	clear: both;
	position: relative;
	background: url(../images/star-matrix.png) no-repeat 0 0;
}
.nostar {
	background-position: 0 0
}
.onestar {
	background-position: 0 -16px
}
.twostar {
	background-position: 0 -32px
}
.threestar {
	background-position: 0 -48px
}
.fourstar {
	background-position: 0 -64px
}
.fivestar {
	background-position: 0 -80px
}
ul.rating li {
	cursor: pointer;
	float: left;
	text-indent: -999em;
}
ul.rating li a {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	text-decoration: none;
	z-index: 200;
	overflow: hidden;
	text-align: left;
	text-indent: -300px;
}
ul.rating li.one a {
	left: 0
}
ul.rating li.two a {
	left: 16px;
}
ul.rating li.three a {
	left: 32px;
}
ul.rating li.four a {
	left: 48px;
}
ul.rating li.five a {
	left: 64px;
}
ul.rating li a:hover {
	z-index: 2;
	width: 80px;
	height: 16px;
	overflow: hidden;
	left: 0;
	background: url(../images/star-matrix.png) no-repeat 0 0;
}
ul.rating li.one a:hover {
	background-position: 0 -96px;
}
ul.rating li.two a:hover {
	background-position: 0 -112px;
}
ul.rating li.three a:hover {
	background-position: 0 -128px
}
ul.rating li.four a:hover {
	background-position: 0 -144px
}
ul.rating li.five a:hover {
	background-position: 0 -160px
}
/*star End*/

.list_item {
	clear: left;
	/*margin-bottom: 5px;*/
	padding-bottom:10px;
	overflow: hidden;
	border-bottom: 1px solid #ECECEC;
}
.notice h3 {
	font-weight: bold;
	font-size: 14px;
	color: #333;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
}
.notice p {
	padding: 5px 0;
}
.table_con {
	margin-bottom: 10px;
}
.table_con h3 {
	font-weight: bold;
	font-size: 14px;
	color: #333;
	height: 20px;
	line-height: 20px;
	margin: 5px 0;
}
.table_dl {
	width: 100%;
}
.table_con table thead {
	background: #F3F3F3;
	border-bottom: 1px solid #E6E6E6;
	color: #333;
}
.table_con table thead th {
	padding: 5px 0;
	color: #333;
}
.textareaHolder {
	position: relative;
	margin-bottom: 10px;
}
.textareaHolder .textarea_inner textarea {
	border: #CCC 1px solid;
}
.input_default {
	background: white url(../images/input_bg.jpg) repeat-x top;
	border: 1px solid #CCC;
	padding: 0 3px;
}
.input_default:hover {
	background: #FFFAE6;
	border: 1px solid #FFD553;
}
.auto_width {
	width: 99%;
}
textarea {
	border: 1px solid #CCC;
	/*padding: 3px; */padding:0px;
	resize: none;
	padding-right: 0px !important;
	overflow: auto;
	font-size:13px;
	color:#464646;
}
/*课程名称样式20130820*/
.df_table td{border-bottom:1px dashed #E6E6E6; text-align:center;}
.df_btn{ text-decoration:none; cursor:pointer;}
.df_btn:hover{ text-decoration:underline;}
.df_icon{float:left; width:20px; height:20px; margin-top:1px; margin-right:0px; background:url(../images/exam_img.gif) -260px -60px no-repeat;}
/*------------df 过渡版样式修改 20130822 开始-------------*/
body {
	font-size: 13px;
	font-family: 宋体, arial;
	font-weight: normal;
	color: #565656;
	text-shadow:none;
}
#head {
	width: 100%;
	height: auto;
	_text-align:center;
}
.head_top {
	_float:none;
	_padding-left:0px;
	width: 1000px;
	margin: 0 auto;
	height: 40px;
}
.company_title {
	float: left;
	width: auto;
	margin-top: 3px;
	margin-left: 5px;
	padding-top: 15px;
	font-size:20px;
}
.head_right {
	padding-top: 5px;
}
.user_photo {
	float: right;
	margin-left: 2px;
	width: 42px;
	height: 42px;
}
.user_information {
	float: right;
	margin-left: 10px;
	_margin-left: 10px;
}
.user_information_top {
	padding-bottom: 5px;
}
.user_information_top h1 {
	font-size: 13px;
	color: #666;
	font-weight: normal;
	text-align: right;
	margin: 0;
	padding: 0;
	line-height: 20px;
}
.user_menu {
	float: right;
	margin-top: 0searchbox;
	padding: 0;
}
.user_menu li {
	float: left;
	display: block;
	margin-left: 8px;
}
.nav {
	clear: both;
	margin: 10px 0;
	_margin: 5px 0;
	width: 100%;
	height: 32px;
	background-color:#589BC8;	
}
.navbox {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	height: 32px;
}
.nav_menu {
	float: left;
	height: 32px;
	line-height: 32px;
}
.nav_menu li {
	float: left;
	height: 32px;
	padding: 0 10px;
	color: white;
	list-style-type: none;
	text-align: center;	
}
.nav_menu li a {font-weight:bold;}
.nav_stay_bg {
	background-color:#2b79ad;
	margin: 0;
}
.nav_stay_bg a{float:left; height:32px; line-height:32px;}
.searchbox {
	float: right;
	height: 29px;
	width: auto !important;
	margin:2px 0 0; 
	_margin:0; 
}
.list_block h1.main_title {
	border-bottom: 2px solid #D6D6D6;
}
h1.main_title {
	color: #1994D0;
	font-size: 15px;
	border-bottom: 2px solid #D6D6D6;
	height: 35px;
	line-height: 35px;
	background: url(../images/t_bg.gif) left center no-repeat;
	margin-bottom:10px;
}
h1.main_title .left {
	float: left;
	height: 35px;
	line-height: 35px;
	color: #1994D0 !important;
	font-size: 15px;
	font-weight: normal;
	text-indent:15px;	
}
h1.main_title .right {
	float: right;
	height: 35px;
	line-height: 35px;
	color: #1994D0 !important;
}
h1.main_title .right a {
	position: relative;
	top: 3px;
}
/*------按钮样式--------------------*/
.btn:hover, .btn2:hover, .btn3:hover {
	background: url(../../../images/button/btn3_over.png) repeat-x top !important;
	color: #1994D0 !important;
	border: 1px solid #01c1ff;
	text-decoration: none !important;
	line-height: 23px !important;
}
.btn:active, .btn2:active, .btn3:active {
	background: url(../../../images/button/btn3_down.png) repeat-x top !important;
	color: #000 !important;
	border: 1px solid #afb6c0;
	text-decoration: none !important;
	line-height: 25px !important;
}
/*A样式*/
a:link {
	/*color: #1994D0;*/
	text-decoration: none;
}
a:visited {
	/*color: #1994D0;*/
}
a:hover {
	/*color: #2B79AD;*/
	cursor: pointer;
	text-decoration: underline;
}
a:active {
	/*color: #1994D0;*/
}
.nav_menu li a:hover {text-decoration: none}
.more_block .more_txt {
	float: left;
	margin: 0 3px;
	color: #1994D0;
	font-size: 13px;
	font-weight: normal
}
#main_body #sidebar .list_block li a:link {
	color: #1994D0;
}
/*-------------df 过渡版样式修改 20130822 结束-------------*/
.home_logged .list_item{ background:none; border-bottom:1px solid #ECECEC;}
.course_detail .content{ padding-bottom:8px;}
/*-------------df 20131014-------------*/
a.icon_link:hover{ text-decoration: none;}
.df_back{ float:right; color:#1994d0; padding-top:1px; _padding-top:5px;}
.pt12{ padding-top:12px;}
.search_item {
	float: left;
	_height: 60px;
	margin: 0 5px 10px 0;
}
.questionDisplay_list {
	float: left;
	padding-bottom:10px;
	overflow: hidden;
}
.question_btn_area{ margin:0;}
.fr{ float:right;}
.fl{ float:left;}
.w720{ width:720px;}
.q_detail table.pageTable tfoot tr td{ border-top:1px solid #ccc;}
/*公告*/
.detail_titlebox{ float:left; width:100%; border-bottom:1px solid #ccc;}
h1.article_title{ text-align:center;}
.icon_list_notice {
	display: inline;
    float: left;
    height: 42px;
    margin-right: 10px;
    padding-bottom: 35px;
    width: 42px;
    background: url("../images/icon/icon_list_notice.png") no-repeat;
}