@charset "utf-8";
/* CSS 样式重置表 */

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre,b, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body, button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Arial, Tahoma, Helvetica, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2, h3 { font-size:14px; font-weight:normal; }
h4, h5, h6 { font-size: 100%; }

/* 重置列表元素 */
ul{ list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; cursor:pointer; color:#333; }
a:hover { text-decoration:none; }
a {outline:none;}/*FF去掉焦点框*/
/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }
/* 重置 chrome input焦点框 */
a:focus, *:focus {outline:none;}
a:focus, *:focus {noFocusLine: expression(this.onFocus=this.blur());}

.oDialogDiv .input_login{ border: 1px solid #999;}