@charset "utf-8";

ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,form,body,html,p,blockquote,fieldset,input,object,iframe
	{
	margin: 0;
	padding: 0;
}

body {
	text-align: left;
	font-family: 宋体, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background: none repeat scroll 0 0 #f2f2f2;
}

img {
	vertical-align: middle;
}

a img,:link img,:visited img {
	border: none;
}

iframe {
	border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,input,select,textarea {
	font-family: Helvetica, Arial, sans-serif;
	vertical-align: middle;
}

h2,h3,h4 {
	margin: 0;
	font-weight: bold;
}

h1 {
	font-weight: bold;
	font-size: 20px;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

h3 {
	font-size: 13px;
	font-weight: bold;
}

h4 {
	font-size: 12px;
	font-weight: bold;
}

a {
	color: #096DD1;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0 0 2px 0;
}

ul {
	list-style: none;
}

pre {
	background-color: #f2f2f2;
	color: #070;
	display: block;
	font-family: 'Courier New', Courier, monospace;
	font-size: 12px;
	overflow: auto;
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #ddd;
}

hr {
	background-color: #d3d3d3;
	color: #ccc;
	height: 1px;
	border: 0px;
}